body{
    font-family: 'Cabin', sans-serif;
    border: 2px solid gray;
}
.container{
    margin: 5% 10% 10% 10%;
    
}

.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    border-radius: 25px;
    align-items: center;

}
.live{
    padding: 5%  10% 10% 10%;
}
h1{
    font-size: 60px;
    color: white;
}
.details{
    color: rgb(184, 207, 218);
    padding: 0% 5% 5% 0%;
}
.watch-live{
    background-color: red;
    color: white;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 15px;}

.live-button{
    margin-left: 15px;
    font-size: 14px;
}
.live-button
.message-box{
    border: 1px solid red;
    color: black;
    width: 40px;
}

.b-10{
    width: 500px;
    height: auto;}

.b-11{
    width: 240px;
    height: auto;
}

.blog-container{
    margin: 0% 10% 10% 10%;
}
#transfer{
    background-color: white;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    padding: 0;}

.menu-blogs{
        display: flex;
        justify-content: space-between;
align-items: flex-start;}

.menu{
    display: grid;
    width: 240px;
    background-color: black;
    border-radius: 10px;}
a{
    text-decoration: none;
}
 
.blogs{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 4%;}  

.blog{
    background-color: white;
    box-shadow: 1px 1px 15px 1px rgb(238, 239, 239);
    border-radius: 15px;
    width: 240px;
    margin-bottom: 4%;}  

.blog-detail{
    margin: 20px 0px 20px 20px;}

.blog-info{
    display: flex;
    justify-content: space-evenly;}

.menu-items-1{
    text-decoration: none;
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    margin: 20px;
    text-align: center;
    border-radius: 10px;}

.menu-items-2{
    text-decoration: none;
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    margin: 0px 20px 0px 20px;
    text-align: center;
    border-radius: 10px;}    

.menu-item-3{
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
    height: 50px;
    background-color: red;
    color: white;
    margin: 20px;
    text-align: center;}

.footer{
    height: 300px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.footer-items{
    width: 650px;
    padding: 7%;
    margin-left: 250px;
   }
.goal{
    font-size: 30px;
    text-align: center;
}
hr{
    border: 0.1px solid gray;
    margin-top: 20px;
}
.nav{
display: flex;
justify-content: space-evenly;
margin-top: 20px;
}
.sm{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;}

    /* Media Queries */
    /* Mobile devices */
    @media only screen and (max-width: 688px) {
.container{
    grid-template-columns: repeat(1, 1fr);
    margin: 5%;
}
h1{
    font-size: 30px;
}

.banner{
    display: flex;
    flex-direction: column;
}
.banner .blog-container .footer{
    grid-template-columns: repeat(1, 1fr);
}
.b-10{
    width: 80%;
    margin-left: 11%;
    margin-bottom: -1%;
}
.menu-blogs{
    flex-direction: column;
    align-items: center;
}
.menu{
    background-color: white;
    margin-bottom: 10%;
    
}

.blogs .blogs .blog-detail .blog-banner{
    width: 100%;
}
.blog{
    width: 100%;
}
.b-11{
    width: 100%;
}
.footer-items{
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}
.footer{
    height: 395px;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center
}
.goal{
    margin-top: 20px;
}
.navy{
    margin-top: 20px;
}
}


/* tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
.container{
    grid-template-columns: repeat(2, 1fr);
    margin: 5% 10% 5% 10%;}  
.b-10{
    width: 93%;
    margin-bottom: -29%;}
h1{font-size: 32px;}
.details{padding: 0%;}
.menu-blogs{
    flex-direction: column;

}
.menu{
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    
}
.blog{
    width: 270px;
    margin-bottom: 5%;
}
.footer-items{
    
    margin-left: 0%;
}
.b-11{
    width: 100%;}}
    
